
h1 {
    color:black; 
    background-color:rgb(241, 247, 247); 
  }

  /* Standard knap-styling */
button {
    font-size: 50px; /* Større tekst */
    padding: 15px 20px;
    color: white; /* Hvid tekst */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Unikke farver til hver knap */
.btn-data {
    background-color: #007bff; /* Blå */
}

.btn-data:hover {
    background-color: #2d71bb; /* Mørkere blå */
}

.btn-tidsplan {
    background-color: #28a745; /* Grøn */
}

.btn-tidsplan:hover {
    background-color: #218838; /* Mørkere grøn */
}

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 20%;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}