
h1 {
    color:rgba(52, 239, 27, 0.491); 
    background-color:rgb(241, 247, 247); 
  }

  button {
    font-size: 50px; /* Større tekst */
    padding: 25px 40px; /* Mere plads inde i knappen */
    background-color: #007bff; /* Blå baggrund */
    color: white; /* Hvid tekst */
    border: none; /* Fjern kant */
    border-radius: 10px; /* Runde hjørner */
    cursor: pointer;
}
button:hover {
    background-color: #2d71bb; /* Mørkere blå når man holder musen over */
}

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}